Fix: proper handling of headers in the response with error

Implement a proper connection persistence handling according to RFC 2068 Section 8.1